.App {
  text-align: center;
  height: 100vh;
  position: relative;
  background-color: cornflowerblue;
}

.page {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.page--login{
  background-repeat: no-repeat;
  background-size: cover;
}
.content{
  position:relative;
  padding: 8px;
}
.inline-input{
  margin: 0;
  display: inline-block;
  float: left;
}

.inline-search-input{
  width: 75%;
}

.search-bar{
  display: inline-block;
  width: 100%;
  height: 38px;
  color: #3d393a;
  margin: 0;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  transition: background-color .5s;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Arial,sans-serif;
  font-weight: 300;
  position: relative;
  padding: 8px 10px 8px 8px;
  font-size: 2em;
  height: 90%;
}

.content-top{
  margin-bottom: 48px;
  margin-top: 8px;
}

.clearfix{
  overflow: auto;
}

.page--search{
  height: 100vh;
}
.page-left{
  padding: 16px 0 16px 8px;
}

.p-2{
  padding: 16px;
}
.pt-1 {
  padding-top: 8px;
}
.cat-card {
    line-height: 4px;
    position: relative;
    top: -20px;
}

.cat-card .cat-card__img {
    vertical-align: middle;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2{
  padding-bottom: 16px;
}
.btn {
  border: 1px solid grey;
  transition: background-color .3s;
  border-radius: 2px;
  box-sizing: border-box;
  height: 28px;
  line-height: 28px;
  padding: 0 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}


/*.btn:hover{
  background-color: darkred;
}*/

.fl-r {
  float: right;
}

.fl-l {
  float: left;
}

.btn--primary {
  border-radius: 4px;
  background-color:#ab46a4;
  color: white;
}

.btn--secondary {
  background-color: lightskyblue;
  color: black;
}

.ribbon--secondary {
  background: lightskyblue !important;
  color: black !important;
}

/*.btn--primary {
  background-color: red;
  color: white;
}*/

.c-menu {
  margin: 60% 0 60% 0;
  padding: 18px;
}
.test {
  border: 1px red dotted;
}

.badge {
  width: 156px;
  height: auto;
}
.menu-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: left;
  margin-top: 8px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B08B7B;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.full-relative {
  position: relative;
  height: 100%;
}

.ribbon {
 font-size: 16px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

 width: 65%;
    
 position: relative;
 background: #ba89b6;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #986794;
 z-index: -1;
}
.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}
.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #804f7c transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}
